<navbar></navbar>
<div class="postShiftForm">

	<form>
	  	Shift Type:<br>
	  	<input type="text" ng-model="PostVM.shift.type" name="type"><br>
	  	Shift Date<br>
	  	<input type="date"  ng-model="PostVM.shift.date" name="date">
	 	<br>
	  	Shift Start Time<br>
	  	<time-picker ng-model="PostVM.shift.startTime" name="startTime"></time-picker>
	  	<br>
	  	Shift End Time<br>
	  	<input type="time"  ng-model="PostVM.shift.endTime" name="endTime"><br>
	  	<input type="button" name="submit" value="submit" ng-click="PostVM.addShift()">
	</form>

</div>