<navbar></navbar>

<h2>Open Shifts</h2>

<div class="alert-success calAlert"
	 ng-show="alertMessage.accepted !== true && alertMessage != undefined && alertMessage != ''"
	>

	<p class="date">{{alertMessage.date | date : "fullDate"}}</p>
	<p class="time">Shift Time: {{alertMessage.start | date : "h:mma"}} - {{alertMessage.end | date : "h:mma"}}</p>
	<p class="text">{{alertMessage.title}}</p>
	<p class="posted">Posted By: {{alertMessage.postedBy}}</p>
	<button data-id="{{alertMessage.id}}" class="acceptButton" ng-click="OpenVM.acceptShift(alertMessage.id)">Accept Shift</button>
	</div>

<div ui-calendar="OpenVM.uiConfig.calendar"
	 ng-model="OpenVM.eventSources"
	 ng-show="OpenVM.eventSources[0].accepted !== true"
	 >

	</div>

<logout></logout>