<logout></logout>

<navbar></navbar>

<h2>Open Shifts</h2>

<div id='calendar'></div>

<div class="shiftData"
	 ng-repeat="shift in OpenVM.openShifts | orderBy: 'date' "
	 ng-if="shift.accepted !== true">
	<p class="date">{{shift.date | date : "fullDate"}}</p>
	<p class="time">Shift Time: {{shift.startTime | date : "h:mma"}} - {{shift.endTime | date : "h:mma"}}</p>
	<p class="text">{{shift.text}}</p>
	<p class="posted">Posted By: {{shift.postedBy}}</p>
	<button data-id="{{shift._id}}" class="acceptButton" ng-click="OpenVM.acceptShift(shift._id)">Accept Shift</button>
</div>